* {
    box-sizing: border-box;
}

/* reset CSS */
table {	
    font-size: 100%;
}
/* end reset CSS */

body {
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
}

body.mobile {
    font-size: 18px;
}

P {
  line-height: 1.8;
}


H2 {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
}


H3 {
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 150%;
}


H4 {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
    text-align:center;
}

.box {
    padding: 2% 8% 5% 8%;
    border: 1px solid LightGrey;
}
ul {
    margin-bottom:10px; 
    margin-left:10px; 
    padding:0;
    } 

li {
    margin-left: 10px;
}


blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}


pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 80%;
    background-color: #F4F4F4;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 5px;   
    line-height: 1.3;

    display: block;
    width: 100%;
    overflow: auto;
}


code {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
}


a {
    text-decoration: none;
    cursor: crosshair;
}


a:hover {
    background-color: LightGrey;
}


img {
    display: block;
    box-shadow: 0 0 10px #555;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 10px #555;
}

img.displayed {
    text-align: center;
    display: block;
}

hr {
    color: LightGrey;
}

p.notice {
    color: #AA4433;
    font-size: 14px;
}

div.tweet p {
    font-size: 16px;
    border: 1px solid #aaa;
    border-left: 10px solid #f28500;
    padding: 2px 0.5em 2px 0.5em;
    margin-bottom: 20px;
    background-color: #fbfbfb;
}

div.tweet i {
    color: brown;
    font-size: 14px;
    font-style: normal;
    border: 1px solid #aaa;
    margin-right: 0.5em;
    padding: 0px 2px;
}

div.outer {
    margin: 2% 5% 2% 5%;
}

body.mobile div.outer {
    margin: 2% 0% 2% 0%;
}

div.inner {
    margin: 0% 14%;
    padding: 2% 8% 4% 8%; 
    border: 1px solid LightGrey;
}

body.mobile div.inner {
    margin: 0;
    padding: 2% 4% 4% 4%;
}

div.ad-banner {
    margin: 0% 14%;
}

body.mobile div.ad-banner {
    margin: 0;
}

.side-ad.mobile {
    display: none;
}
